.container {
	/* width: 800px; */
	margin-left: auto;
	margin-right: auto;
}

.header__logo,
.header__nav,
.main__philosophy__text,
.main__philosophy__turn,
.footer__logo,
.footer__contact {
	width: 50%;
	height: auto;
}
