.header,
.main__philosophy,
.main__esthetic,
.main__relax,
.footer {
	min-width: 768px;
	max-width: 1023px;
}
.main__philosophy__text__title {
	font-size: 4rem;
}
.main__philosophy > p {
	font-size: 2rem;
}

.main__philosophy__button {
	margin: 3rem;
	font-size: 2.5rem;
	width: auto;
	height: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.main__philosophy > p {
	padding: 2rem;
}

.main__esthetic__container > div,
.main__relax__container > div {
	width: 25%;
}

.footer__logo__container > .header__logo__text {
	flex-direction: row;
	align-items: flex-end;
	gap: 2rem;
}

.footer__logo {
	width: auto;
	display: flex;
	justify-content: flex-start;
}

.footer__logo__container > .header__logo__img {
	width: 7.5rem;
}

.footer__logo__container
	> .header__logo__text
	> .header__logo__text__dedicarte {
	padding: 0;
}

.footer__logo__container > .header__logo__text > .header__logo__text__line {
	display: none;
}

.footer__logo__container
	> .header__logo__text
	> .header__logo__text__estetica_relax {
	display: flex;
	font-size: 2.5rem;
}

.footer__logo {
	display: flex;
	justify-content: flex-end;
}

.footer__contact__container {
	display: flex;
	flex-wrap: nowrap;
}

.footer__contact {
	padding: 1rem;
}

.footer__logo {
	display: flex;
	justify-content: flex-start;
	height: auto;
}
