:root {
	--black: #000000;
	--white: #ffffff;
	--bpurple: #541f5c;
	--lpurple: #7a5675;
	--gray: #919192;
	--cake: #fffcf8;
	--pink: #e782a0;
	--bpink: #f8467b;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* background-color: var(--cake); */
}

a {
	text-decoration: none;
}

.container,
header,
.main__philosofy__container,
.header,
.main__philosophy,
.footer {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header__logo,
.header__nav,
.main__esthetic,
.main__relax {
	width: 100%;
	height: 150px;
}

.main__esthetic,
.main__relax {
	height: auto;
}

header,
.header,
.footer {
	background-color: var(--cake);
}

.main__philosofy__container {
	background-color: var(--lpurple);
}

/* ::::::::::::::::::::::: HEADER :::::::::::::::::::::::  */

/* ::::::::::::::::::::::: HEADER LOGO:::::::::::::::::::::::  */
.header__logo {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	padding-bottom: 0;
}

.header__logo__text__line,
.header__logo__line {
	border-top: 1px solid var(--gray);
	width: 100%;
	padding-bottom: 1rem;
}

.header__logo__text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header__logo__text__dedicarte {
	padding-top: 1.5rem;
	font-family: "Parisienne", cursive;
	font-size: 5rem;
	color: var(--black);
}

.header__logo__line {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* ::::::::::::::::::::::: HEADER NAV:::::::::::::::::::::::  */
.header__logo__text__estetica_relax,
.header__nav,
.main__esthetic__title > h2,
.main__relax__title > h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	letter-spacing: 3px;
	color: var(--black);
	padding-bottom: 2rem;
	height: auto;
}

.header__nav {
	padding-left: 2rem;
	padding-right: 2rem;
}

.header__nav__ul {
	display: flex;
	flex-wrap: wrap;
}

.header__nav li {
	display: inline;
	padding: 1rem;
	margin: auto;
	color: var(--bpurple);
}

.header__nav li:hover {
	background-color: var(--pink);
	border-radius: 50px;
	color: var(--white);
}

a {
	color: var(--bpurple);
}
a:visited {
	color: var(--lpurple);
}

a:active {
	color: #ffb6c1;
}
a:hover {
	color: var(--white);
}
/* ::::::::::::::::::::::: MAIN :::::::::::::::::::::::  */

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__philosofy__container {
	background: rgb(159,72,131);
	background: linear-gradient(0deg, rgba(159,72,131,1) 0%, rgba(122,86,117,1) 100%);
	width: 100vw;
}

.main__philosophy {
	/* background-color: var(--lpurple); */
	padding: 2rem;
	background: url(../img/background.svg) no-repeat center bottom;
	background-position: center -25%;
	background-size: 75rem 75rem;
}

.main__philosophy__text__title,
.main__philosophy > p {
	color: var(--cake);
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	text-align: center;
	padding: 1rem;
}

.main__philosophy__text__title {
	font-size: 2.5rem;
	padding: 1rem;
	padding-top: 0;
}

.main__philosophy__button {
	display: inline-block;
	border-radius: 50px;
	background-color: var(--pink);
	border: none;
	color: #ffffff;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 550;
	font-size: 2rem;
	padding: 1.5rem;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2rem;
	margin-bottom: 3rem;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.main__philosophy__button:hover {
	background-color: #f8467b;
	border-radius: 50px;
	color: var(--white);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.main__philosophy__button > a {
	text-decoration: none;
	color: var(--white);
}

/* :::::::::::::::::::::::::::main__esthetic y relax:::::::::::::::::::::::::::: */
.main__esthetic,
.main__relax {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
	font-family: "Open Sans", sans-serif;
}

.main__esthetic__title,
.main__relax__title {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main__esthetic__title > span,
.main__relax__title > span {
	border-top: 1px solid var(--bpurple);
	height: 0;
	width: 100%;
	padding-bottom: 2rem;
}

.main__esthetic__title > h2,
.main__relax__title > h2 {
	margin-left: 2rem;
	margin-right: 2rem;
	font-weight: 400;
}

.main__esthetic__container,
.main__relax__container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.main__esthetic__container > div,
.main__relax__container > div {
	width: 100%;
	padding: 2rem;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__esthetic__container,
.main__relax__container {
	text-align: center;
}

h3 {
	color: var(--bpurple);
}

.main__esthetic__container > div > p,
.main__relax__container > div > p {
	color: var(--lpurple);
}

.main__esthetic__container__estetica_facial,
.main__esthetic__container__limpieza,
.main__esthetic__container__microdermoabrasion,
.main__esthetic__container__electroestimulacion,
.main__relax__container__masajes_reductores,
.main__relax__container__descontracturantes,
.main__relax__container__radiofrecuencia,
.main__relax__container__drenaje_linfatico {
	width: 120px;
	height: 120px;
	border-radius: 100px;
}

.main__esthetic__container__estetica_facial {
	background: url(../img/Estetica_facial.jpg) no-repeat center center;
	background-size: cover;
}

.main__esthetic__container__limpieza {
	background: url(../img/Limpiezas_de_cutis_simple_y_profunda.jpg) no-repeat
		center center;
	background-size: cover;
}

.main__esthetic__container__microdermoabrasion {
	background: url(../img/Microdermoabrasión.jpg) no-repeat center center;
	background-size: cover;
}

.main__esthetic__container__electroestimulacion {
	background: url(../img/Electroestimulacion.jpg) no-repeat center center;
	background-size: cover;
}
/* ... */
.main__relax__container__masajes_reductores {
	background: url(../img/masajes_reductores.png) no-repeat center center;
	background-size: cover;
}

.main__relax__container__descontracturantes {
	background: url(../img/descontracturantes.png) no-repeat center center;
	background-size: cover;
}

.main__relax__container__radiofrecuencia {
	background: url(../img/radiofrecuencia.png) no-repeat center center;
	background-size: cover;
}

.main__relax__container__drenaje_linfatico {
	background: url(../img/drenaje_linfatico.png) no-repeat center center;
	background-size: cover;
}

/* :::::::::::::::::::::::: FOOTER :::::::::::::::::::::::::::::: */
.footer {
	width: 100%;
	gap: 0;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid var(--gray);
}

.footer__logo {
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__logo__container {
	display: flex;
	align-items: center;
	transform: scale(0.5);
	gap: 1rem;
	flex-wrap: wrap;
}

.footer__contact {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.footer__contact__container {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.footer__contact__whatsapp,
.footer__contact__instagram {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	letter-spacing: 1px;
	color: var(--bpurple);
	padding: 1rem;
	gap: 1rem;
}

.footer__contact__whatsapp > a:hover,
.footer__contact__instagram > a:hover {
	color: var(--bpurple);
}

/* ///////////////////// BOTON FLOTANTE////////////////// */

.btn-flotante {
	font-size: 2rem; /* Cambiar el tamaño de la tipografia */
	color: #ffffff; /* Color del texto */
	border-radius: 50px; /* Borde del boton */
	background-color: var(--pink); /* Color de fondo */
	position: fixed;
	bottom: 4.5rem;
	right: 1rem;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
	/* padding: 1.6rem ; */
	width:  5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-chevron-up{
	width: auto;
	height: auto;
}

.btn-flotante:hover {
	background-color: var(--lpurple); /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);