:root {
	--black: #000000;
	--white: #ffffff;
	--bpurple: #541f5c;
	--lpurple: #7a5675;
	--gray: #919192;
	--cake: #fffcf8;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* background-color: var(--cake); */
}

.container,
header,
.header,
.main,
.main__philosophy,
.footer {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header__logo,
.header__nav,
.main__philosophy__text,
.main__philosophy__turn,
.main__esthetic,
.main__relax {
	width: 100%;
	height: 150px;
}

.main__esthetic,
.main__relax {
	height: auto;
}

header,
.header,
.footer {
	background-color: var(--cake);
}

.main__esthetic,
.main__relax {
	background-color: var(--white);
}

/* ::::::::::::::::::::::: HEADER :::::::::::::::::::::::  */

/* ::::::::::::::::::::::: HEADER LOGO:::::::::::::::::::::::  */
.header__logo {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	padding-bottom: 0;
}

.header__logo__text__line,
.header__logo__line {
	border-top: 1px solid var(--gray);
	width: 100%;
	padding-bottom: 1rem;
}

.header__logo__text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header__logo__text__dedicarte {
	padding-top: 1.5rem;
	font-family: "Parisienne", cursive;
	font-size: 5rem;
	color: var(--black);
}

.header__logo__line {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* ::::::::::::::::::::::: HEADER NAV:::::::::::::::::::::::  */
.header__logo__text__estetica_relax,
.header__nav,
.main__esthetic__title > h2,
.main__relax__title > h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	letter-spacing: 3px;
	color: var(--lpurple);
	padding-bottom: 2rem;
	height: auto;
}

.header__nav {
	padding-left: 2rem;
	padding-right: 2rem;
}

.header__nav__ul {
	display: flex;
	flex-wrap: wrap;
}

.header__nav li {
	display: inline;
	padding: 1rem;
	margin: auto;
	color: var(--bpurple);
}

.header__nav li:hover {
	background-color: var(--lpurple);
	border-radius: 50px;
	color: var(--white);
}

/* ::::::::::::::::::::::: MAIN :::::::::::::::::::::::  */

.main__philosophy {
	background-color: var(--lpurple);
}

.main__philosophy__text__title {
	font-size: 2.5rem;
	padding: 2rem;
}

.main__philosophy__text,
.main__philosophy__turn {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	outline: 1px solid greenyellow;
}

.main__philosophy__text,
.main__philosophy__turn,
.main__philosophy__text > p,
.main__philosophy__turn > p {
	color: var(--cake);
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	text-align: center;
	padding: 2rem;
}

.main__philosophy__turn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: inline-block;
	border-radius: 50px;
	background-color: #e782a0;
	border: none;
	color: #ffffff;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	padding: 1rem;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

/* :::::::::::::::::::::::::::main__esthetic:::::::::::::::::::::::::::: */
.main__esthetic,
.main__relax {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
	font-family: "Open Sans", sans-serif;
}

.main__esthetic__title,
.main__relax__title {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main__esthetic__title > span,
.main__relax__title > span {
	border-top: 1px solid var(--bpurple);
	height: 0;
	width: 100%;
}

.main__esthetic__title > h2,
.main__relax__title > h2 {
	margin-left: 2rem;
	margin-right: 2rem;
	font-weight: 400;
}

.main__relax > div {
	width: 50%;
	outline: 1px solid red;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.main__esthetic__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.main__esthetic__container > div {
	width: 50%;
	outline: 1px solid red;
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* :::::::::::::::::::::::: FOOTER :::::::::::::::::::::::::::::: */
.footer {
	width: 100%;
	gap: 0;
}

.footer__logo {
	display: flex;
	width: 50%;
	/* height: 200px; */
	outline: 1px solid red;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer__contact {
	width: 50%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0;
	outline: 1px solid blue;
}

.footer__logo__container {
	/* transform: scale(0.5) translate(-40%, -20%); */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	/* gap: 1rem; */
}
