.header {
	flex-wrap: nowrap;
	align-items: center;
}

.header__logo {
	justify-content: flex-start;
	flex-direction: row;
}

.header__logo__img {
	padding-right: 2rem;
}

.header__logo__line {
	display: none;
}

.header__nav {
	padding-top: 2rem;
}
